<li><h2><%= link_to post.title, post_path(post.id) %></h2></li>
<strong>Posted by <%= link_to post.user.name, user_path(post.user) %> on <%= post.created_at.strftime('%Y/%m/%d') %></strong> in <span class="label label-primary"><%= post.category.name %></span><br><br>
<%= simple_format(post.excerpt) %>