<%= form_for @post do |f| %>
  <h3><%= f.label :post_title %>:  <%= f.text_field :title %><br></h3>
  <%= f.label :post_category %><br>
  <%= f.collection_select :category_id, Category.all, :id, :name%>

  <h4><%= f.label :content %></h4>
  <%= f.bootsy_area :content, cols:100, rows:20 %><br>

  <%= f.submit "Submit Post", class: 'btn btn-default' %>
<% end %>
<a href="javascript:history.back()">Cancel</a>